<div ng-controller="adviserClientSummary">
    <div class="row">
        <div class="col-md-4 ">
            <ul class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="adviserOverview.aspx">Home</a></li>
                <li class="active">Client Admin</li>
                <li class="active">Client Summary</li>
            </ul>
        </div>
        <div class="col-md-8 ">
            <div class="top-content">
                <ul class="list-inline mini-stat">
                    <li>
                        <h5>REFERRALS <span class="stat-value stat-color-orange"><i class="fa fa-plus-circle"></i> 18</span></h5>
                        <span id="mini-bar-chart1" class="mini-bar-chart"></span>
                    </li>
                    <li>
                        <h5>CLIENTS <span class="stat-value stat-color-blue"><i class="fa fa-plus-circle"></i> 205</span></h5>
                        <span id="mini-bar-chart2" class="mini-bar-chart"></span>
                    </li>
                    <li>
                        <h5>PORTFOLIO <span class="stat-value stat-color-seagreen"><i class="fa fa-plus-circle"></i> 1.5 Bill</span></h5>
                        <span id="mini-bar-chart3" class="mini-bar-chart"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- main -->
    <div class="content">
        <div class="main-header">
            <h2>Client Summary</h2>
            <em>your client monitor</em>
        </div>

        <div class="main-content">
            <!-- NAV TABS -->
            <ul class="nav nav-tabs" ng-init="tab=1">
                <!--<li class="active"><a href="#view-by-client-tab" data-toggle="tab"><i class="fa fa-users"></i> View By Client</a></li>-->
                <li ng-class="{active:tab==1}"><a ng-click="tab=1"><i class="fa fa-users"></i> View By Client</a></li>
                <li ng-class="{active:tab==2}"><a ng-click="tab=2"><i class="fa fa-home"></i> View By Asset</a></li>
                <li ng-class="{active:tab==3}"><a ng-click="tab=3"><i class="fa fa-globe"></i> Demographics</a></li>
                <li ng-class="{active:tab==4}"><a ng-click="tab=4"><i class="fa fa-money"></i> Revenue</a></li>
                <li ng-class="{active:tab==5}"><a ng-click="tab=5"><i class="fa fa-lock"></i> Compliance</a></li>                               
            </ul>
            <!-- END NAV TABS -->

            <div class="tab-content">

                <!-- ACTIVITY TAB CONTENT -->
                <div class="tab-pane fade" ng-class="{'active in':tab==1}">
                    <ul class="list-unstyled activity-list">
                        <li>
                            <kendo-grid options="viewByClientGridOptions"></kendo-grid>

                            <script type="text/x-kendo-template" id="templateByClient">
                                <kendo-tabstrip>
                                    <ul>
                                        <li class="k-state-active">Asset Caterory</li>

                                    </ul>
                                    <div>
                                        <div kendo-grid k-options="detailByClientGridOptions(dataItem)"></div>
                                    </div>

                                </kendo-tabstrip>
                            </script>
                        </li>
                        <li></li>
                    </ul>
                    <p class="text-center"><a href="#" class="btn btn-custom-primary"><i class="fa fa-floppy-o"></i> Export <i class="fa fa-long-arrow-right"></i></a></p>
                </div>
                <!-- END ACTIVITY TAB CONTENT -->
                <div class="tab-pane fade" ng-class="{'active in':tab==2}">
                    <ul class="list-unstyled activity-list">
                        <li>
                            <kendo-grid options="viewByAssetGridOptions"></kendo-grid>

                            <script type="text/x-kendo-template" id="templateByAsset">
                                <kendo-tabstrip>
                                    <ul>
                                        <li class="k-state-active">Asset Caterory</li>
                                    </ul>
                                    <div>
                                        <div kendo-grid k-options="detailbyAssetGridOptions(dataItem)"></div>
                                    </div>

                                </kendo-tabstrip>
                            </script>
                        </li>
                        <li></li>
                    </ul>
                    <p class="text-center"><a href="#" class="btn btn-custom-primary"><i class="fa fa-floppy-o"></i> Export <i class="fa fa-long-arrow-right"></i></a></p>
                </div>

                <div class="tab-pane fade" ng-class="{'active in':tab==3}" ng-controller="ClientDemographicsController">
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li ng-repeat="state in locations">
                                    All {{state.State}} ({{state.Clients}}) <input type="checkbox" ng-model="state.checked" ng-change="setAllState(state,state.checked)">
                                    <ul>
                                        <li ng-repeat="city in state.Data">
                                            {{city.City}} ({{city.Clients}}) <input type="checkbox" ng-model="city.checked" ng-change="setAllCity(city,city.checked)">
                                            <ul>
                                                <li ng-repeat="suburb in city.Data">
                                                    {{suburb.Suburb}} ({{suburb.Clients}}) <input type="checkbox" ng-change="refreshLocationSelect()" ng-model="suburb.checked">
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="widget" ng-show="data.ClientByAge">
                                        <div class="widget-header">
                                            <h3><i class="fa fa-bar-chart-o"></i>Clients by Age</h3>

                                        </div>
                                        <div class="widget-content">
                                            <table class="table invoice-table">
                                                <thead>
                                                    <tr>
                                                        <th>Groups</th>
                                                        <th>No. of Clients</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in data.ClientByAge.Data">
                                                        <td>{{item.Group}}</td>
                                                        <td>{{item.Number}}</td>
                                                    </tr>
                                                    <tr><td></td><td><strong>Total Number of Clients: {{data.ClientByAge.Total}}</strong></td></tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="widget" ng-show="data.AssetsUnderManagement">
                                        <div class="widget-header">
                                            <h3><i class="fa fa-bar-chart-o"></i>Assets Under Management</h3>

                                        </div>
                                        <div class="widget-content">
                                            <table class="table invoice-table">
                                                <thead>
                                                    <tr>
                                                        <th>Groups</th>
                                                        <th>No. of Clients</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in data.AssetsUnderManagement.Data">
                                                        <td>{{item.Group}}</td>
                                                        <td>{{item.Number}}</td>
                                                    </tr>
                                                    <tr><td></td><td><strong>Total Number of Clients: {{data.AssetsUnderManagement.Total}}</strong></td></tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="widget" ng-show="data.ClientProfileClassification">
                                        <div class="widget-header">
                                            <h3><i class="fa fa-bar-chart-o"></i>Client Risk Profile Classification</h3>

                                        </div>
                                        <div class="widget-content">
                                            <table class="table invoice-table">
                                                <thead>
                                                    <tr>
                                                        <th>Groups</th>
                                                        <th>No. of Clients</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in data.ClientProfileClassification.Data">
                                                        <td>{{item.Group}}</td>
                                                        <td>{{item.Number}}</td>
                                                    </tr>
                                                    <tr><td></td><td><strong>Total Number of Clients: {{data.ClientProfileClassification.Total}}</strong></td></tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="widget" ng-show="data.ClientTimeFrameClassification">
                                        <div class="widget-header">
                                            <h3><i class="fa fa-bar-chart-o"></i>Client Timeframe Classification</h3>

                                        </div>
                                        <div class="widget-content">
                                            <table class="table invoice-table">
                                                <thead>
                                                    <tr>
                                                        <th>Groups</th>
                                                        <th>No. of Clients</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in data.ClientTimeFrameClassification.Data">
                                                        <td>{{item.Group}}</td>
                                                        <td>{{item.Number}}</td>
                                                    </tr>
                                                    <tr><td></td><td><strong>Total Number of Clients: {{data.ClientTimeFrameClassification.Total}}</strong></td></tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="widget" ng-show="data.TopUsedInvestments">
                                        <div class="widget-header">
                                            <h3><i class="fa fa-bar-chart-o"></i>Top 10 Used Investments</h3>

                                        </div>
                                        <div class="widget-content">
                                            <table class="table invoice-table">
                                                <thead>
                                                    <tr>
                                                        <th>Groups</th>
                                                        <th>Value of Assets</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in data.TopUsedInvestments.Data">
                                                        <td>{{item.Name}}</td>
                                                        <td>{{item.Value | currency}}</td>
                                                    </tr>
                                                    <tr><td></td><td><strong>Total Value: {{data.TopUsedInvestments.Total | currency}}</strong></td></tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="widget" ng-show="data.TopUsedDebt">
                                        <div class="widget-header">
                                            <h3><i class="fa fa-bar-chart-o"></i>Top 10 Used Debt Instruments</h3>

                                        </div>
                                        <div class="widget-content">
                                            <table class="table invoice-table">
                                                <thead>
                                                    <tr>
                                                        <th>Groups</th>
                                                        <th>Value of Debt</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in data.TopUsedDebt.Data">
                                                        <td>{{item.Name}}</td>
                                                        <td>{{item.Value | currency}}</td>
                                                    </tr>
                                                    <tr><td></td><td><strong>Total Value: {{data.TopUsedDebt.Total | currency}}</strong></td></tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" ng-class="{'active in':tab==4}" ng-controller="BusinessRevenueDetailsViewController">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div kendo-chart
                                 k-title="{ text: 'Business Revenue', position: 'top' }"
                                 k-series-defaults="{ type: 'donut', startAngle: 270 }"
                                 k-series="[{
                                                                        field: 'amount',
                                                                        categoryField: 'name',
                                                                        padding: 0
                                                                      }]"
                                 k-series-colors="['#42a7ff', '#666666', '#999999', '#cccccc','#42a7ff', '#666666', '#999999', '#cccccc', '#42a7ff']"
                                 k-data-source="businessRevDataKendo"
                                 k-legend="{ position: 'bottom' }"
                                 k-tooltip="{
                                                            visible: true,
                                                            color: 'white',
                                                            template: '${ category } - ${ value }'}"></div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="widget">
                            <div class="widget-header">
                                <h3><i class="fa fa-bar-chart-o"></i>Assets Under Management Fees</h3>
                                <div class="btn-group widget-header-toolbar">
                                    <div class="label" ng-class="{'label-success' : data.total >= 0,'label-danger' : data.total < 0}">{{data.total | currency}}</div>
                                </div>
                            </div>
                            <div class="widget-content">
                                <kendo-grid options="TopLayerOptions">
                                    <div k-detail-template>
                                        <kendo-tabstrip>
                                            <ul>
                                                <li class="k-state-active">Stock Information</li>
                                            </ul>
                                            <div>
                                                <div kendo-grid k-options="SecondLayerOptions(dataItem)">
                                                </div>
                                            </div>

                                        </kendo-tabstrip>
                                    </div>
                                </kendo-grid>
                            </div>




                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" ng-class="{'active in':tab==5}" ng-controller="CompliantFilesViewController">
                    <div class="row">
                        <div class="widget">
                            <div class="widget-header">
                                <h3><i class="fa fa-bar-chart-o"></i>Compliant Files</h3>
                                <div class="btn-group widget-header-toolbar">
                                    <div class="label" ng-class="{'label-success' : data.CompliantFiles.total >= 0,'label-danger' : data.CompliantFiles.total < 0}">Total: {{data.CompliantFiles.total | number}}</div>
                                </div>
                            </div>
                            <div class="widget-content">
                                <kendo-grid options="TopLayerOptions_CompliantFiles">
                                    <div k-detail-template>
                                        <kendo-tabstrip>
                                            <ul>
                                                <li class="k-state-active">Account Information</li>
                                            </ul>
                                            <div>
                                                <div kendo-grid k-options="SecondLayerOptions_CompliantFiles(dataItem)">
                                                </div>
                                            </div>

                                        </kendo-tabstrip>
                                    </div>
                                </kendo-grid>
                            </div>




                        </div>
                    </div>
                    <div class="row">
                        <div class="widget">
                            <div class="widget-header">
                                <h3><i class="fa fa-bar-chart-o"></i>Compliance Overview</h3>
                                <div class="btn-group widget-header-toolbar">
                                    <div class="label" ng-class="{'label-success' : data.ComplianceOverview.total >= 0,'label-danger' : data.ComplianceOverview.total < 0}">Total: {{data.ComplianceOverview.total | number}}</div>
                                </div>
                            </div>
                            <div class="widget-content">
                                <kendo-grid options="TopLayerOptions_ComplianceOverview">
                                    <div k-detail-template>
                                        <kendo-tabstrip>
                                            <ul>
                                                <li class="k-state-active">Account Information</li>
                                            </ul>
                                            <div>
                                                <div kendo-grid k-options="SecondLayerOptions_ComplianceOverview(dataItem)">
                                                </div>
                                            </div>

                                        </kendo-tabstrip>
                                    </div>
                                </kendo-grid>
                            </div>




                        </div>
                    </div>
                    <div class="row">                        
                        <div class="col-md-3 col-md-offset-2"><a href="#" class="btn btn-custom-primary"><i class="fa fa-eye"></i> View Compliance Files </a></div>
                        <div class="col-md-3 col-md-offset-3"><a class="btn btn-custom-primary"><i class="fa fa-long-arrow-right"></i>Send to Compliance</a></div>                                                
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>    