
<div class="row">
    <div class="col-md-4 ">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="#">Home</a></li>
            <li>Client Admin</li>
            <li class="active">Create Group Account</li>
        </ul>
    </div>
</div>
<div class="content">
    <div class="main-header">
        <h2>Create Group Account</h2>

    </div>
    <div class="main-content">
        
        <div class="row">
            <div class="col-md-4">
                <form novalidate name="form" ng-controller="insertAssetsDataController">
                    <!--<div class="row">
                        <div class="col-sm-12 form-group">
                            <label>Select Client Group</label>
                            <select required class="form-control" name="clientGroup" ng-change="loadClients()" ng-model="clientGroup" ng-options="group.id as group.name for group in groups"></select>
                            <span class="error" ng-show="form.clientGroup.$error.required && form.clientGroup.$touched">Please select client group.</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label>Select Account Type</label>
                            <select required class="form-control" name="accountType" ng- ng-model="selectedAccountType" ng-options="accountTypes.name as accountTypes.name for accountTypes in accountTypes"></select>
                            <span class="error" ng-show="form.clientGroup.$error.required && form.clientGroup.$touched">Please select client group.</span>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label>Account Name/Purpose</label>
                            <input class="form-control" name="accountName" ng-model="accountName" required />
                            <span class="error" ng-show="form.accountName.$error.required && form.accountName.$touched">Please enter account name.</span>
                        </div>

                    </div>-->
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <button class="btn btn-default" ng-click="submit()">Insert</button>
                        </div>
                    </div>



                </form>



            </div>
        </div>



    </div>
</div>