<div class="jumbotron">
    <h1>EDIS</h1>
    <p class="lead"></p>
    <p><a href="/client/completeprofile" class="btn btn-primary btn-lg">Client Profile</a></p>
    <p><a href="/adviser/adviserProfile" class="btn btn-primary btn-lg">Adviser Profile</a></p>
    <p><a href="/adviser/" class="btn btn-primary btn-lg">Adviser Dashboard</a></p>
    <p><a href="/client/" class="btn btn-primary btn-lg">Client Dashboard</a></p>
    <p><a href="/admin/pending" class="btn btn-primary btn-lg">Admin</a></p>
</div>

